* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    padding: 20px;
    background-color: rgb(131, 131, 231);
    font: normal 16px arial;    
}
header {        
    color: white;
    text-align: center;
}

section {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.559);
}
.btn { 
    padding:10px;
    border-radius: 10px;
    border: none;
    background-color: rgba(131, 131, 231, 0.521);
    color:blue;
    cursor: pointer;
}
.pBtn {
    display: flex;
    justify-content: center;
}
p {
    padding: 5px;
}
.resp {
    padding: 10px;
}

footer {
    text-align: center;
    font: italic 16px arial;
    color: white;
}